*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}
#background{
    background: url(https://wallpapercat.com/w/full/6/8/1/1325843-3840x2160-desktop-4k-clock-background-image.jpg);
    object-fit: cover !important;
}
#front{
    background: url(https://img.wallpapic.com/i6693-231-515/medium/graphic-art-digital-clocks-darkness-wallpaper.jpg);
}
:root {
  --degrees: 0deg;
}

.bg-conic {
  background: conic-gradient(
    transparent 0deg,
    transparent var(--degrees),
    white var(--degrees),
    white 360deg
  );
}
.hand {
  transform-origin: bottom center;
  transform: rotate(var(--degrees));
}